<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div style="text-align:center">
  <form [formGroup]="fizzBuzzForm" #formDirective="ngForm">
    <div class="row">
      <span>Lower input</span>
    <input formControlName="lowerInput">
      <span>Upper input</span>
    <input formControlName="upperInput">
    </div>
    <div class="row">
      <span>Output String</span>
    <input formControlName="outputString" disabled>
    </div>
    <span>Output Statistics</span>
    <div class ="row">
      <span>Fizz:</span>
      <input formControlName="outputFizz" disabled>
    </div>
    <div class ="row">
      <span>Buzz:</span>
      <input formControlName="outputBuzz" disabled>
    </div>
    <div class ="row">
      <span>FizzBuzz:</span>
      <input formControlName="outputFizzBuzz" disabled>
    </div>
    <div class ="row">
      <span>Alfresco:</span>
      <input formControlName="outputAlfresco" disabled>
    </div>
    <div class ="row">
      <span>Integer:</span>
      <input formControlName="outputInteger" disabled>
    </div>
    <div class="row">
      <button (click)="getFizzBuzz()">Click me for FizzBuzz</button>
    </div>
  </form>
</div>

